<header>
  <div class="grid-container">
    <div class="logo">
      <a href="/">
      <div class="image">
        <img src="/logo.png" alt="" />
      </div>
    </a>
    </div>
    <div class="nav">
      <div class="search">
        <form action="/search" method="GET">
          <input type="text" name="search" id="search" placeholder="search products" />
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
      <% if(!user){%>
        <span>
          <a href="/login">Register/Login</a>
        </span>
        <%}%>
      <span>
        <a href="/login">fruits</a>
      </span>
      <span>
        <a href="/login">Vegetables</a>
      </span>
      <span>
        <a href="/login">ContactUs</a>
      </span>
      <span>
        <a href="/login">AboutUs</a>
      </span>
      <span>
        <a href="/logout">Logout</a>
      </span>
      
    </div>
    <% if(user){%>
    <div class="profile">
      <a href="/cart">
      <div class="cart">
        <i class="fas fa-baby-carriage"></i>
        <div class="item">
          <span id="counter"><%=user.cart ? user.cart.totalQty : '' %></span>
        </div>
      </div></a>
      <div class="name">
        <span><%=user.name%></span>
      </div>
      <%}%>
    </div>
  </div>
</header>