<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  
  <link rel="stylesheet" href="reset.css" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="theme.css" />
  <title>Login</title>
</head>

<body>
  <%-include("header")-%>
  <div class="form">
    
    <form action="/login" method="POST">
    <div class="login"><h2>Login</h2></div>
    <input type="email" name="email" placeholder="Enter Email">
    <input type="password" name="password" placeholder="Enter Password" style="margin-top: 0;">
    <div class="forgot"><a href="/forgot">Forgot Password</a></div>
    <button type="submit">Signin</button>
    <span>Not Registered? <a href="/signup"> Signup</a></span>
    </form>
  </div>
</body>

</html>