<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  
  <link rel="stylesheet" href="reset.css" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="theme.css" />
  <title>Document</title>
</head>

<body>
  <%-include("header")-%>
  <div class="form">
    
    <form action="/signup" method="POST" autocomplete="off">
    <div class="login"><h2>Signup</h2></div>
    <input type="text" name="name" id="name" placeholder="Enter Name">
    <input type="email" name="email" id="email" placeholder="Enter Email" style="margin-top: 0;">
    <input type="number" name="number" id="number" placeholder="Enter Number" style="margin-top: 0;">
    <input type="password" name="password" id="password" placeholder="Enter Password" style="margin-top: 0;">
    <button type="submit">Signup</button>
    <span>Already Registered? <a href="/login"> Login</a></span>
    </form>
  </div>
</body>

</html>